<h2>Products</h2>
<table class="table stripe">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pro of products">
      <th scope="row">{{ pro.id }}</th>
      <td>{{ pro.name }}</td>
      <td>{{ pro.description }}</td>
      <td>{{ pro.price }}</td>
      <td>
        <button class="btn btn-danger btn-sm" (click)="deleteData(pro.id)">
          Delete
        </button>
        <button
          class="btn btn-warning btn-sm mx-2"
          routerLink="edit/{{ pro.id }}"
          >
          Update
        </button>
      </td>
    </tr>
  </tbody>
</table>

<button class="btn btn-primary" routerLink="product-new">Add new Product</button>